<div id="banner">
	<div class="outline"></div>
	<img class="bg" src="images/bg.jpg" inline>

	<div class="frame frame1">
		


		
	
		<div class="proline_outline big">
			<div class="holder">
				<img class="logoItem1" src="images/proline_outline.png" inline>	
				<img class="logoItem2" src="images/proline_outline.png" inline>	
			</div>
		</div>

		<div class="proline_outline small">
			<div class="holder">
				<img class="logoItem1" src="images/proline_outline.png" inline>	
				<img class="logoItem2" src="images/proline_outline.png" inline>	
			</div>
		</div>


		
		<img class="shadow" src="images/player_shadow.png" inline>
		
		
		<!-- <img class="retina" src="images/frame1.jpg" inline> -->

		<img class="player_b player" src="images/player_b.png" inline>
		<img class="puck retina" src="images/player_puck.png" inline>
		<img class="player_a player" src="images/player_a.png" inline>			
		
		

		<img class="retina t1 t1a" src="images/t1a.png" inline>
		

		<img class="retina logo" src="images/logo.png" inline>
		

		
		



		



	</div>
	<div class="frame frame2">
		
		<img class="illus" src="images/illus.png" inline>
		<img class="retina phone" src="images/phone.png" inline>
		<img class="retina t2a" src="images/t2a.png" inline>
		<img class="retina cta_wager" src="images/cta_wager.png" inline>		
		<img class="retina cta_get" src="images/cta_get.png" inline>		
		<img class="retina footer" src="images/footer.png" inline>
		
		<% include ../_common/templates/legal %>
		
	</div>
</div>