<div id="banner">
	<div class="outline"></div>
	<img class="bg" src="images/bg.jpg" inline>

	<div class="frame frame1">
		

		<div class="retina proline_outline big">
			<div class="holder">
				<img class="logoItem1" src="images/proline_outline.png" inline>	
				<img class="logoItem2" src="images/proline_outline.png" inline>	
			</div>
		</div>

		<div class="retina proline_outline small">
			<div class="holder">
				<img class="logoItem1" src="images/proline_outline.png" inline>	
				<img class="logoItem2" src="images/proline_outline.png" inline>	
			</div>
		</div>



		<img class="shadow" src="images/player_shadow.png" inline>
		
		<img class="puck" src="images/player_puck.png" inline>
		

		<img class="player_b player" src="images/player_b.png" inline>
		<img class="player_b lines lines0" src="images/player_b_lines0.png" inline>
		<img class="player_b lines lines1" src="images/player_b_lines1.png" inline>

		
		<img class="player_a player" src="images/player_a.png" inline>			
		<img class="player_a lines  back" src="images/player_a_back.png" inline>
		<img class="player_a lines  body" src="images/player_a_body.png" inline>
		<img class="player_a lines dots" src="images/player_a_dots.png" inline>
		<img class="player_a lines  head" src="images/player_a_head.png" inline>
		<img class="player_a lines  leg1" src="images/player_a_leg1.png" inline>
		<img class="player_a lines  leg2" src="images/player_a_leg2.png" inline>
		<img class="player_a lines  skates" src="images/player_a_skates.png" inline>

		<img class="retina t1 t1a" src="images/t1a.png" inline>
		<img class="retina t1 t1b" src="images/t1b.png" inline>
		<img class="retina t1 t1c" src="images/t1c.png" inline>

		<img class="retina logo" src="images/logo.png" inline>
		

		
		




		



	</div>
	<div class="frame frame2">
		
		<img class="illus" src="images/illus.png" inline>
		<img class="retina phone" src="images/phone.png" inline>
		<img class="retina t2" src="images/t2.png" inline>
		<img class="retina cta_wager" src="images/cta_wager.png" inline>
		<img class="retina cta_get" src="images/cta_get.png" inline>
		
		<img class="retina footer" src="images/footer.png" inline>
		
		<% include ../_common/templates/legal %>
		
	</div>
</div>