

@import '../../../_common/styles/common.scss';



.frame1 {
	// opacity: 1;
}



#banner{
	font-size: 20px;
	color: #333;
	width: 300px;
	height: 250px;
}




.shadow{
	transform-origin: 150px 230px;
}

.puck{
	transform-origin: 122px 216px;
	@include pos(-5, -56);
}
.lines{
		@include pos-scale(0, 0, 1);
	}

.player_a{
	transform-origin: 34px 291px;
	@include pos(-30, 0);
}

.player_b{
	transform-origin: 34px 291px;
	@include pos(30, 0);
}

.proline_outline{
	height: 546px;
	width: 200px;
	overflow: hidden;
	
}


.proline_outline.big{	
	@include pos-scale-rotate(150, -60, .5, 49);
	.holder{
		@include pos(0, -910);
	}
}




.proline_outline.small{
	// @include pos-scale-rotate(299, 157, 0.4, -40);
	@include pos-scale-rotate(160, 27, 0.4, -40);
	.holder{
		@include pos(0, 550);
	}
}

.illus{
	transform-origin: 50% 100%;
}

img.logoItem2{
	@include pos(0, 463);
}

#legalBtn{	
	@include pos(7, 198);
}
