

@import '../../../_common/styles/common.scss';



.frame1 {
	// opacity: 1;
}



#banner{
	font-size: 20px;
	color: #333;
	width: 300px;
	height: 250px;
}


.playa{
	transform-origin: 34px 291px;
	// @include pos-scale(-10, -119, 1.4);
}


.proline_outline.big{
	@include pos-scale-rotate(-47, 111, .5, 49);
	// @include pos-scale-rotate(305, -189, .5, 49);
	
}


.proline_outline.small{
	@include pos-scale-rotate(299, 157, 0.4, -40);
	// @include pos-scale-rotate(180, 17, 0.4, -40);

	
	
	
}

.illus{
	transform-origin: 50% 100%;
}

img.logoItem2{
	@include pos(0, 465);
}

#legalBtn{	
	@include pos(7, 198);
}
