

@import '../../../_common/styles/common.scss';



.frame1 {
	// opacity: 1;
}



#banner{
	font-size: 20px;
	color: #333;
	width: 300px;
	height: 250px;
}


.playa{
	transform-origin: 34px 291px;
	// @include pos-scale(-10, -119, 1.4);
	// .dots{
	// 	display: none;
	// }

	.player_a.lines0, .player_a.lines1, .player_a.lines2, .player_a.dots, .player_b.lines0 {
		// display: none;
		

	}

	.lines{
		// @include pos-scale(0, 0, 1);
	}

	// .player_a.lines1{
	// 	display: none;
	// }

	// .player_a.lines2{
	// 	display: none;
	// }
}

.player_a{
	transform-origin: 34px 291px;
	// transform-origin: 60px 160px;		
}

.player_b{
	transform-origin: 34px 291px;
	// transform-origin: 167px 170px;		
}

.proline_outline{
	height: 470px;
	width: 200px;
	overflow: hidden;
}


.proline_outline.big{
	// @include pos-scale-rotate(-47, 111, .5, 49);
	@include pos-scale-rotate(475, -369, .5, 49);
	// @include pos-scale-rotate(305, -189, .5, 49);
	
}


.proline_outline.small{
	@include pos-scale-rotate(299, 157, 0.4, -40);

	
	
	// @include pos-scale-rotate(70, -143, 0.4, -40);
}

.illus{
	transform-origin: 50% 100%;
}

img.logoItem2{
	@include pos(0, 465);
}

#legalBtn{	
	@include pos(7, 198);
}
