

@import '../../../_common/styles/common.scss';



.frame2 {
	// opacity: 1;
}



#banner{
	font-size: 20px;
	color: #333;
	width: 320px;
	height: 50px;
}




.shadow{
	
}

.puck{
	@include pos-scale(5, 3, .5);
}


.player_a{
	@include pos-scale(-10, 0, .5);
	
}

.player_b{
	@include pos-scale(10, 0, .5);
}


.illus{
	transform-origin: 95px 50px;
}

img.logoItem2{
	@include pos(0, 463);
}

#legalBtn{	
	@include pos(7, 50);
}
